@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-image: url("img/BG.png"); */
    background-image: url("BG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.back {
    position:sticky ;
    background-color: #fff;
    padding: 20px;
    margin:  0px ;
    a {
        text-decoration-line: none;
    }
    h2{
        color: rgba(255, 140, 0, 0.918);
        text-align: center;
    }
    span {
        padding-left: 10px;
        color: rgba(255, 140, 0, 0.918);
        
    }
    
}

/* About Me */

.detail  {
    background-color: #ffffffc3;
    color: rgb(85, 32, 14);
    height: 500px ;
    width: auto;
    margin: 10px 100px;
    border-style:dotted ;
    border-radius: 10px;

    a {
        /* text-decoration-line: none; */
        color: rgb(85, 32, 14);
    }

    .me{
        margin: 50 px ; 
        display: inline;    
        .contact1 {
            margin-left : 50px ;
            color: rgb(85, 32, 14);
            padding: 10px ;
        }
    }
    .me1{
        position: relative;
        left: 645px;
        bottom: 446.33px;
        margin: 50 px ; 
        display: inline;    
        .contact2 {
            margin-left : 50px ;
            color: rgb(85, 32, 14);
            padding: 10px ;
        }
    }
    
    p {
        width: 250px;
        /* position: relative; */
        padding: 5px;
        /* display: inline; */
        
    }

}



.detail1  {
    background-color: #ffffffaf;
    color: rgb(85, 32, 14);
    height: 500px ;
    width: auto;
    margin: 10px 100px;
    border-style:dotted ;
    border-radius: 10px;

    .Dad {
        margin: 50 px ; 
        display: inline;
    }
    .Mom {
        margin: 50 px ; 
        display: inline;
        position: relative;
        left: 645px;
        bottom: 385px;
    }

    .Bro {
        margin: 50 px ; 
        display: inline;
    }

    p {
        width: 600px;
        /* position: relative; */
        padding: 5px;
        /* display: inline; */
        
    }

    h2 {
        width: 250px;
        padding: 5px;
    }
}

